---
import GitHub from "./icons/Github.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import LinkButton from "./LinkButton.astro"
import todoMachine from '../../public/todo-machine-home.png'
import CodeIcon from "../components/icons/Code.astro"


const TAGS = {
  ASTRO: {
    name: 'Astro',
    class: 'bg-white text-red',
  },
  NEXT: {
    name: "React",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "Petroff Amshen Website",
    description:
      "Rediseño para la página de la el bufete de abogados de Nueva York Petroff Amshen",
    github: "https://github.com/Edier-Gama/todo-machine?tab=readme-ov-file",
    image: '/projects/petroff.png',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "API Para un Ecommerce",
    description:
    "Esta API hecha con Express, MongoDB y Javascript es de uso público y funciona para consumir las típicas funcionalidades de un ecommerce en linea (CRUD)",
    github: 'https://github.com/Edier-Gama/blockbuster?tab=readme-ov-file',
    image: '/projects/api-project.jpg',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
]
---

<section class="flex flex-col gap-y-16">
  <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
      <article>
        <h3 class="text-2xl font-semibold text-yellow-600 dark:text-yellow-200 mb-2">
          {title}
        </h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
        <footer class="flex gap-x-4 items-end justify-start mt-4">
          
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Ver código fuente
            </LinkButton>  
        </footer>
      </article>
    ))
  }
</section>

<style>
  section {
    position: relative;
    top: 110px;
  }
</style>