---
import GitHub from "./icons/gitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import LinkButton from "./LinkButton.astro"
import CodeIcon from "../components/icons/Code.astro"


const TAGS = {
  ASTRO: {
    name: 'Astro',
    class: 'bg-white text-red',
  },
  NEXT: {
    name: "React",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "MyAutoCV",
    description:
      "MyAutoCV es una aplicación web que te permite crear un CV minimalista y descargarlo en PDF de manera rápida e intuitiva, está hecho con NextJS, TailwindCSS y Supabase para manejar las sesiones",
    github: "https://github.com/Edier-Gama/myautocv",
    image: '/projects/autocv.png',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    prev: 'https://myautocv.vercel.app'
  },
  {
    title: "La Velada del Año IV web",
    description:
    "Participé en un proyecto de código abierto para hacer la página web de el evento La Velada del Año IV de Ibai Llanos, junto a Midudev llegué a ser el 4to colaborador del proyecto",
    github: 'https://github.com/midudev/la-velada-web-oficial',
    image: '/projects/laveladaweb.png',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    prev: 'https://lavelada.es'
  },
]
---

<section class="flex flex-col gap-y-16 max-w-7xl">
  <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
  {
    PROJECTS.map(({ image, title, description, tags, github, prev }) => (
      <article class="flex flex-wrap max-w-7xl m-auto justify-center">
        <div class="flex flex-col">
          <h3 class="text-2xl font-semibold text-yellow-600 dark:text-yellow-200 mb-2">
            {title}
          </h3>
          <p class="text-lg mb-4 text-pretty max-w-sm">{description}</p>
          <ul class="flex gap-x-2 flex-row mb-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <footer class="flex gap-x-4 items-end justify-start mt-4">    
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Ver código fuente
            </LinkButton>  
            <LinkButton href={prev}>
              <GitHub class="size-6" />
              Ver página
            </LinkButton>  
        </footer>
        </div>
        <img
          width="400px"
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10 m-5"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
      </article>
    ))
  }
</section>

<style>
  section {
    position: relative;
    top: 110px;
  }
</style>